.NavigationsItem{
    margin: 0;
    display: flex;
    box-sizing: border-box;
    align-self: center;
    height: 100%;
    width: auto;
}
.NavigationsItem a{
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
}
.NavigationsItem a:hover,
.NavigationsItem a:active,
.NavigationsItem a.active{
    background-color: #8F5C2C;
    border-bottom: 4px solid #40A4C8;
    color: white;
}